.settings/
.idea
.cproject
.project
ext/
unit-tests/engines/*
unit-tests/logs/*
build/
unit-tests/views/test10/children.extends.volt.php
unit-tests/views/test10/children2.volt.php
unit-tests/views/test10/children.volt.php
unit-tests/annotations/cache/*.php
*.o
*.lo
*.loT
*.gch
.libs
*~
.DS_Store
.temp/
composer.lock
composer.phar
php-tests/tests/var/logs/*.log
compile-errors.log
compile.log
.vagrant
Vagrantfile
tests/_output/*